doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it n!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
      form(method="POST" action="/quotes")
        label(for="name") Name: 
        input(type='text', placeholder='name' name='name')
        label(for="quote" ) Quote: 
        input(type='text', placeholder='quote' name='quote')
        button(type="submit") Submit
